body {
  background-image: url("./background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #ffec60;
  margin: 0;
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

#home {
  color: #ff3131;
}

#game {
  height: 90vh;
  width: 900px;

  display: flex;
  flex-direction: column-reverse;
}

.players {
  background-color: #ff3131;
  border: none;
  width: 130px;
}

.row {
  display: flex;
}

.row:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
}

.square {
  font-size: 14px;
  padding: 4px;
  height: 7.5vh;
  width: 110px;
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: inset 5px 0 8px -5px #000, inset -5px 0 8px -5px #000;

  display: flex;
}

.square:nth-child(even) {
  background-color: rgb(183, 227, 107);
}

.square:nth-child(odd) {
  background-color: white;
}

#dice {
  background-color: whitesmoke;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.snake {
  background-color: chartreuse;
}

.ladder {
  background-color: brown;
}

img {
  width: 50px;
  height: 50px;
}

.player {
  animation: lightSpeedInLeft;
  animation-duration: 2s;
}
