body {
  background-color: #ffec60;
  margin: 0;
  height: 100vh;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
}

#home {
  color: #ff3131;
}

#game {
  height: 90vh;
  width: 1000px;

  display: flex;
  flex-direction: column-reverse;
}

.players {
  background-color: #ff3131;
  border: none;
  width: 130px;
}

.row {
  display: flex;
}

.row:nth-child(even) {
  background-color: #ff3131;
  display: flex;
  flex-direction: row-reverse;
  
}

.square {
  font-size: 14px;
  padding: 4px;
  height: 40px;
  width: 80px;
  border: 1px solid black;
}

.player {
  background-color: #ff3131;
  border-radius: 100%;
  width: 30px;
  height: 20px;
}

#dice {
  background-color: whitesmoke;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.ladder {
  background-color: brown;
}

img {
  width: 25px;
  height: 25px;
}
