body {
  background-color: #ffec60;
  margin: 0;
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

#home {
  color: #ff3131;
}

#game {
  height: 90vh;
  width: 1000px;

  display: flex;
  flex-direction: column-reverse;
}

.players {
  background-color: #ff3131;
  border: none;
  width: 130px;
}

.row {
  display: flex;
}

.row:nth-child(even) {
  background-color: rgb(183, 227, 107);
  display: flex;
  flex-direction: row-reverse;
}

.square {
  font-size: 14px;
  padding: 4px;
  height: 40px;
  width: 100px;
  border: 1px solid black;

  display: flex;
}

#dice {
  background-color: whitesmoke;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
}

.snake {
  background-color: chartreuse;
}

.ladder {
  background-color: brown;
}

img {
  width: 50px;
  height: 50px;
}

.player {
  animation: lightSpeedInLeft;
  animation-duration: 3s;
}
